* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: Arial, Helvetica, sans-serif;

    background: #09090c;

    color: #f5f5f5;
}


button,
input {
    font: inherit;
}


/* ==========================================
   NAVBAR
========================================== */

.navbar {

    height: 78px;

    padding: 0 7%;

    display: flex;

    align-items: center;

    justify-content: space-between;

    background: #0c0c10;

    border-bottom: 1px solid #202027;

    position: sticky;

    top: 0;

    z-index: 100;

}


.logo {

    display: flex;

    align-items: center;

    gap: 10px;

    text-decoration: none;

    color: white;

}


.logo-mark {

    width: 40px;

    height: 40px;

    display: flex;

    align-items: center;

    justify-content: center;

    background: #ff4d6d;

    color: white;

    font-weight: 900;

    border-radius: 8px;

    font-size: 20px;

}


.logo h2 {

    font-size: 19px;

    letter-spacing: 2px;

}


.logo h2 span {

    color: #ff4d6d;

}


.logo small {

    display: block;

    font-size: 7px;

    letter-spacing: 2px;

    color: #777781;

    margin-top: 2px;

}


nav {

    display: flex;

    gap: 35px;

}


nav a {

    color: #aaaab2;

    text-decoration: none;

    font-size: 13px;

    transition: .3s;

}


nav a:hover {

    color: #ff4d6d;

}


.nav-actions {

    display: flex;

    gap: 18px;

}


.icon-btn,
.cart-btn {

    background: none;

    border: 0;

    color: #ddd;

    font-size: 18px;

    cursor: pointer;

}


.cart-btn {

    position: relative;

}


#cartCount {

    position: absolute;

    right: -12px;

    top: -10px;

    width: 19px;

    height: 19px;

    display: flex;

    align-items: center;

    justify-content: center;

    border-radius: 50%;

    background: #ff4d6d;

    color: white;

    font-size: 10px;

}


/* ==========================================
   HERO
========================================== */

.hero {

    min-height: 590px;

    padding: 75px 8%;

    display: flex;

    align-items: center;

    justify-content: space-between;

    overflow: hidden;

    background:

        radial-gradient(

            circle at 76% 48%,

            #321c29,

            #09090c 57%

        );

}


.hero-content {

    width: 52%;

    position: relative;

    z-index: 2;

}


.hero-label {

    color: #ff4d6d;

    font-size: 10px;

    font-weight: bold;

    letter-spacing: 3px;

    margin-bottom: 18px;

}


.hero h1 {

    font-family: Georgia, serif;

    font-size: clamp(

        55px,

        7vw,

        90px

    );

    line-height: .95;

    letter-spacing: -3px;

}


.hero h1 span {

    color: #ff4d6d;

}


.hero-description {

    max-width: 480px;

    color: #9999a3;

    line-height: 1.8;

    font-size: 14px;

    margin: 30px 0;

}


.hero-btn {

    border: 0;

    background: #ff4d6d;

    color: white;

    padding: 16px 25px;

    font-weight: bold;

    cursor: pointer;

    border-radius: 4px;

    transition: .3s;

}


.hero-btn:hover {

    transform: translateY(-3px);

    box-shadow:

        0 10px 30px

        rgba(

            255,

            77,

            109,

            .25

        );

}


.hero-btn i {

    margin-left: 12px;

}


/* ==========================================
   HERO IMAGE
========================================== */

.hero-art {

    width: 40%;

    height: 430px;

    display: flex;

    align-items: center;

    justify-content: center;

    position: relative;

}


.glow {

    width: 330px;

    height: 330px;

    border-radius: 50%;

    background: #ff4d6d;

    filter: blur(95px);

    opacity: .18;

    position: absolute;

}


.hero-card {

    width: 275px;

    height: 388px;

    position: relative;

    z-index: 2;

    border: 1px solid #44303a;

    background: #121217;

    border-radius: 15px;

    overflow: hidden;

    box-shadow:

        20px 30px 70px

        rgba(

            0,

            0,

            0,

            .55

        );
        object-fit: fill;

    transform: rotate(4deg);

}


.hero-card img {

    width: 100%;

    height: 100%;

    object-fit: contain;

    
}


.hero-card-overlay {

    position: absolute;

    left: 0;

    right: 0;

    bottom: 0;

    padding: 28px 20px 22px;

    background:

        linear-gradient(

            transparent,

            rgba(

                0,

                0,

                0,

                .92

            )

        );

    display: flex;

    flex-direction: column;

    gap: 6px;

}


.hero-card-overlay span {

    font-size: 8px;

    letter-spacing: 2px;

    color: #ff4d6d;

}


.hero-card-overlay strong {

    font-family: Georgia, serif;

    font-size: 24px;

}


/* ==========================================
   STATS
========================================== */

.stats {

    padding: 35px 8%;

    background: #101014;

    display: grid;

    grid-template-columns:

        repeat(

            4,

            1fr

        );

    border-top: 1px solid #202027;

    border-bottom: 1px solid #202027;

}


.stats div {

    text-align: center;

    border-right: 1px solid #25252c;

}


.stats div:last-child {

    border-right: 0;

}


.stats strong {

    display: block;

    color: #ff4d6d;

    font-size: 25px;

    margin-bottom: 5px;

}


.stats span {

    color: #777781;

    font-size: 11px;

    letter-spacing: 1px;

}


/* ==========================================
   CATEGORIES
========================================== */

.categories {

    padding: 80px 8% 55px;

    background: #0c0c10;

}


.section-heading {

    text-align: center;

}


.section-heading p {

    color: #ff4d6d;

    font-size: 10px;

    letter-spacing: 3px;

    font-weight: bold;

}


.section-heading h2 {

    font-family: Georgia, serif;

    font-size: 40px;

    margin-top: 10px;

}


.category-container {

    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 12px;

    margin-top: 40px;

}


.category {

    padding: 14px 22px;

    border: 1px solid #292930;

    background: #121217;

    color: #9999a3;

    border-radius: 5px;

    cursor: pointer;

    transition: .3s;

}


.category i {

    margin-right: 8px;

}


.category:hover,
.category.active {

    background: #ff4d6d;

    color: white;

    border-color: #ff4d6d;

}


/* ==========================================
   PRODUCTS
========================================== */

.products-section {

    padding: 70px 8% 100px;

    background: #09090c;

}


.products-header {

    display: flex;

    justify-content: space-between;

    align-items: end;

    margin-bottom: 40px;

}


.products-header h2 {

    font-family: Georgia, serif;

    font-size: 40px;

}


.search-box {

    width: 280px;

    display: flex;

    align-items: center;

    gap: 10px;

    padding: 13px 15px;

    background: #121217;

    border: 1px solid #292930;

    border-radius: 5px;

}


.search-box i {

    color: #777781;

}


.search-box input {

    width: 100%;

    border: 0;

    outline: 0;

    background: transparent;

    color: white;

    font-size: 13px;

}


.search-box input::placeholder {

    color: #666670;

}


/* ==========================================
   PRODUCT GRID
========================================== */

.product-grid {

    display: grid;

    grid-template-columns:

        repeat(

            auto-fit,

            minmax(

                230px,

                1fr

            )

        );

    gap: 22px;

}


.product-card {

    background: #111115;

    border: 1px solid #24242b;

    border-radius: 8px;

    overflow: hidden;

    transition: .3s;

}


.product-card:hover {

    transform: translateY(-7px);

    border-color: #ff4d6d;

    box-shadow:

        0 20px 50px

        rgba(

            0,

            0,

            0,

            .4

        );

}


.product-image {

    height: 300px;

    position: relative;

    overflow: hidden;

    background: #17171c;

}


.product-image img {

    width: 100%;

    height: 100%;

    object-fit: cover;

    transition: .5s;

}


.product-card:hover

.product-image img {

    transform: scale(1.05);

}


.product-tag {

    position: absolute;

    top: 12px;

    left: 12px;

    background:

        rgba(

            9,

            9,

            12,

            .88

        );

    color: #ff4d6d;

    font-size: 8px;

    letter-spacing: 1px;

    padding: 7px 9px;

    border: 1px solid #3d2830;

}


.product-info {

    padding: 20px;

}


.product-category {

    color: #777781;

    font-size: 9px;

    letter-spacing: 2px;

}


.product-info h3 {

    font-family: Georgia, serif;

    font-size: 21px;

    margin: 7px 0;

}


.product-info p {

    color: #777781;

    font-size: 12px;

    line-height: 1.6;

    min-height: 38px;

    margin-bottom: 18px;

}


.product-bottom {

    display: flex;

    align-items: center;

    justify-content: space-between;

}


.price {

    color: #f3f3f3;

    font-size: 17px;

}


.add-btn {

    border: 1px solid #ff4d6d;

    background: transparent;

    color: #ff4d6d;

    padding: 9px 13px;

    border-radius: 4px;

    cursor: pointer;

    transition: .3s;

}


.add-btn:hover {

    background: #ff4d6d;

    color: white;

}


/* ==========================================
   ABOUT
========================================== */

.about {

    padding: 80px 10%;

    background: #121217;

    display: flex;

    align-items: center;

    gap: 40px;

    border-top: 1px solid #24242b;

}


.about-symbol {

    min-width: 90px;

    height: 90px;

    border-radius: 50%;

    background: #ff4d6d;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 30px;

    box-shadow:

        0 0 40px

        rgba(

            255,

            77,

            109,

            .18

        );

}


.about h2 {

    font-family: Georgia, serif;

    font-size: 42px;

    margin-bottom: 15px;

}


.about h2 span {

    color: #ff4d6d;

}


.about p:last-child {

    max-width: 650px;

    color: #85858f;

    line-height: 1.8;

    font-size: 14px;

}


/* ==========================================
   CART
========================================== */

.overlay {

    position: fixed;

    inset: 0;

    background: rgba(

        0,

        0,

        0,

        .7

    );

    z-index: 199;

    display: none;

}


.overlay.show {

    display: block;

}


.cart-sidebar {

    position: fixed;

    top: 0;

    right: -450px;

    width: min(

        430px,

        100%

    );

    height: 100vh;

    background: #101014;

    z-index: 200;

    transition: .4s;

    display: flex;

    flex-direction: column;

    border-left: 1px solid #292930;

}


.cart-sidebar.open {

    right: 0;

}


.cart-header {

    padding: 25px;

    border-bottom: 1px solid #292930;

    display: flex;

    justify-content: space-between;

    align-items: center;

}


.cart-header h2 {

    font-family: Georgia, serif;

}


.close-cart {

    width: 38px;

    height: 38px;

    border: 1px solid #292930;

    background: #18181e;

    color: #ddd;

    border-radius: 50%;

    cursor: pointer;

}


.cart-items {

    flex: 1;

    overflow-y: auto;

    padding: 20px;

}


/* CART ITEM */

.cart-item {

    display: flex;

    gap: 13px;

    padding: 15px 0;

    border-bottom: 1px solid #292930;

}


.cart-item img {

    width: 78px;

    height: 88px;

    object-fit: cover;

    border-radius: 5px;

}


.cart-item-info {

    flex: 1;

}


.cart-item-info > span {

    color: #ff4d6d;

    font-size: 8px;

    letter-spacing: 1px;

}


.cart-item-info h4 {

    font-family: Georgia, serif;

    margin: 5px 0;

    font-size: 16px;

}


.cart-item-info strong {

    font-size: 13px;

}


.quantity {

    display: flex;

    align-items: center;

    gap: 9px;

    margin-top: 9px;

}


.quantity button {

    width: 25px;

    height: 25px;

    border: 1px solid #35353d;

    background: #18181e;

    color: white;

    cursor: pointer;

}


.remove {

    border: 0;

    background: none;

    color: #ff4d6d;

    cursor: pointer;

    font-size: 10px;

    margin-top: 7px;

}


/* EMPTY CART */

.empty-cart {

    text-align: center;

    padding: 80px 20px;

    color: #666670;

}


.empty-cart i {

    font-size: 50px;

    color: #34343c;

    margin-bottom: 20px;

}


.empty-cart h3 {

    color: #ddd;

    margin-bottom: 8px;

}


/* CART BOTTOM */

.cart-bottom {

    padding: 20px 25px;

    border-top: 1px solid #292930;

    background: #0c0c10;

}


.coupon {

    display: flex;

    margin-bottom: 7px;

}


.coupon input {

    flex: 1;

    padding: 12px;

    background: #17171c;

    border: 1px solid #292930;

    color: white;

    outline: 0;

}


.coupon button {

    border: 0;

    background: #ff4d6d;

    color: white;

    padding: 0 17px;

    cursor: pointer;

}


#couponMessage {

    font-size: 11px;

    margin-bottom: 10px;

}


.success {

    color: #59d98e;

}


.error {

    color: #ff6d86;

}


.price-row {

    display: flex;

    justify-content: space-between;

    margin: 12px 0;

    color: #85858f;

    font-size: 13px;

}


.price-row.total {

    border-top: 1px solid #292930;

    padding-top: 15px;

    color: white;

    font-size: 19px;

}


.checkout-btn {

    width: 100%;

    margin-top: 10px;

    padding: 16px;

    border: 0;

    background: #ff4d6d;

    color: white;

    font-weight: bold;

    cursor: pointer;

    border-radius: 4px;

}


.checkout-btn:hover {

    background: #e83c5d;

}


.checkout-btn i {

    margin-left: 10px;

}


/* ==========================================
   ERROR
========================================== */

.error-message {

    grid-column: 1 / -1;

    text-align: center;

    padding: 70px 20px;

    color: #777781;

}


.error-message i {

    font-size: 40px;

    color: #ff4d6d;

    margin-bottom: 15px;

}


.error-message h3 {

    color: white;

    margin-bottom: 8px;

}


/* ==========================================
   FOOTER
========================================== */

footer {

    padding: 30px 8%;

    background: #070709;

    display: flex;

    justify-content: space-between;

    align-items: center;

    color: #666670;

    font-size: 11px;

}


.footer-logo {

    color: white;

    font-size: 18px;

    font-weight: bold;

    letter-spacing: 2px;

}


.footer-logo span {

    color: #ff4d6d;

}


.socials {

    display: flex;

    gap: 18px;

    font-size: 16px;

}


.socials i {

    cursor: pointer;

    transition: .3s;

}


.socials i:hover {

    color: #ff4d6d;

}


/* ==========================================
   RESPONSIVE
========================================== */

@media (max-width: 850px) {

    nav {

        display: none;

    }


    .hero {

        padding: 70px 7%;

    }


    .hero-content {

        width: 100%;

    }


    .hero-art {

        display: none;

    }


    .stats {

        grid-template-columns:

            repeat(

                2,

                1fr

            );

        gap: 25px;

    }


    .stats div:nth-child(2) {

        border-right: 0;

    }


    .products-header {

        flex-direction: column;

        align-items: flex-start;

        gap: 20px;

    }


    .search-box {

        width: 100%;

    }


    .about {

        flex-direction: column;

        text-align: center;

    }

}


@media (max-width: 500px) {

    .navbar {

        padding: 0 5%;

    }


    .hero {

        min-height: 520px;

    }


    .hero h1 {

        font-size: 50px;

    }


    .categories,
    .products-section {

        padding-left: 5%;

        padding-right: 5%;

    }


    .product-grid {

        grid-template-columns: 1fr;

    }


    .stats {

        padding-left: 5%;

        padding-right: 5%;

    }


    footer {

        flex-direction: column;

        gap: 15px;

        text-align: center;

    }

}